.header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 1rem;
}
.primary {
    padding: 1.2rem;
    overflow: hidden auto;
}
.secondary {
    padding: 1rem;
}
.secondary-a {
    background-color: white;
}
.secondary-b {
    color: white;
    background-color: #666;
}

.footer {
    padding: 1rem;
    text-align: center;
}

.modal {
    display: none;
}

#modal-switch {
    font-size: 2rem;
}

#modal-switch:checked ~ .modal {
    display: flex;
}
label[for='modal-switch'] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    width: 40px;
    height: 40px;

}
label[for='modal-switch']:before {
    content: '⚑';
    font-size: 2em;
    z-index: 999;
}
#modal-switch:checked ~ label[for='modal-switch']:before {
    color: gold;
}

#modal-switch,
label[for='modal-switch'] span {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

@media (min-width: 1024px) {
    .page {
        display: grid;
        grid-template-columns: 20% auto 20%;
        grid-template-areas:
                "header header header"
                "menu menu menu"
                "secondary-a primary secondary-b"
                "footer footer footer";
    }
    .header {
        grid-area: header;
    }
    .menu {
        grid-area: menu;
    }
    .secondary-a {
        grid-area: secondary-a;
    }
    .secondary-b {
        grid-area: secondary-b;
    }
    .primary {
        grid-area: primary;
    }
    .footer {
        border: 1px solid lightgray;
        grid-area: footer;
    }
}

@media (min-width: 1400px) {
    .page {
        grid-template-columns: 300px auto 300px;
    }
}