<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bullet list</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<ul class="info-list">
    <li class="info-list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor enim et eum exercitationem iste quibusdam! Asperiores assumenda cupiditate eaque harum nemo quidem sint sunt, voluptatum. Alias ducimus exercitationem tempore?</li>
    <li class="info-list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id natus optio ut. Ab amet deserunt dignissimos distinctio earum eligendi error est, illum in ipsum libero molestiae pariatur, quasi temporibus voluptate!</li>
    <li class="info-list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi aperiam aspernatur consequatur cupiditate deserunt dolore error fugit harum in laboriosam minus, necessitatibus nihil nobis repellendus tempora, tempore unde voluptatum!</li>
</ul>
</body>
</html>