<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flex card list</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<ul class="card-list">
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            Lorem ipsum dolor sit amet.
        </div>
    </li>
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit, in minus nemo nisi omnis quam quasi quos repellat reprehenderit? Accusamus aliquid eveniet illo ipsa labore, minus nam nihil quod.
        </div>
    </li>
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            quod.
        </div>
    </li>
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit, in minus nemo nisi omnis quam quasi quos repellat reprehenderit? Accusamus aliquid eveniet illo ipsa labore, minus nam nihil quod.
        </div>
    </li>
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit, in minus nemo nisi omnis quam quasi quos repellat reprehenderit? Accusamus aliquid eveniet illo ipsa labore, minus nam nihil quod.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit, in minus nemo nisi omnis quam quasi quos repellat reprehenderit? Accusamus aliquid eveniet illo ipsa labore, minus nam nihil quod.
        </div>
    </li>
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit, in minus nemo nisi omnis quam quasi quos repellat reprehenderit? Accusamus aliquid eveniet illo ipsa labore, minus nam nihil quod.
        </div>
    </li>
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit, in minus nemo nisi omnis quam quasi quos repellat reprehenderit? Accusamus aliquid eveniet illo ipsa labore, minus nam nihil quod.
        </div>
    </li>
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit, in minus nemo nisi omnis quam quasi quos repellat reprehenderit? Accusamus aliquid eveniet illo ipsa labore, minus nam nihil quod.
        </div>
    </li>
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit, in minus nemo nisi omnis quam quasi quos repellat reprehenderit? Accusamus aliquid eveniet illo ipsa labore, minus nam nihil quod.
        </div>
    </li>
    <li class="card-item">
        <figure class="card-image" style="background-image: url('../images/yellow.jpg')">
            <img src="../images/yellow.jpg" alt="yellow.jpg">
        </figure>
        <div class="card-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem impedit, in minus nemo nisi omnis quam quasi quos repellat reprehenderit? Accusamus aliquid eveniet illo ipsa labore, minus nam nihil quod.
        </div>
    </li>

</ul>
</body>
</html>