<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flex message-list</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<ul class="user-list message-list">
    <li class="user-item message-item">
        <figure class="user-photo" style="background-image: url('../images/profile.jpg')"></figure>
        <p class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, asperiores cum dolor dolores itaque magnam minus molestias neque pariatur quam quibusdam rem, repudiandae? Architecto cupiditate facilis incidunt natus neque, quis.</p>
    </li>
    <li class="user-item message-item">
        <figure class="user-photo" style="background-image: url('../images/profile.jpg')"></figure>
        <p class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, asperiores cum dolor dolores itaque magnam minus molestias neque pariatur quam quibusdam rem, repudiandae? Architecto cupiditate facilis incidunt natus neque, quis.</p>
    </li>
    <li class="user-item message-item">
        <figure class="user-photo" style="background-image: url('../images/profile.jpg')"></figure>
        <p class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, asperiores cum dolor dolores itaque magnam minus molestias neque pariatur quam quibusdam rem, repudiandae? Architecto cupiditate facilis incidunt natus neque, quis.</p>
    </li>
</ul>
</body>
</html>